<div class="container">
      <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="https://www.udemy.com/staticx/udemy/images/course/100x100/placeholder.png" class="img-fluid" alt="">
                </div>


                <div class="col hover-over">
                    <div class="card-block px-2 hover-over">
                        <h6 class="card-title">Course Title</h6>
                        <br>
                        <span>DRAFT &nbsp; &nbsp; &nbsp; Public </span>
                    </div>
                </div>
                <div id="edit">
             <h4 class="mouse_over vertical-center"><a  routerLink="/editCourse"><span>Edit/manage course</span></a></h4>
                </div>
         </div>
      </div>
      <router-outlet></router-outlet>

</div>


<br><br><br>

