<div class="footer-v6 footer--marketplace">
<div class="fixed-message-container">
<div class="ud-component--footer--legal-message" ng-non-bindable=""></div>
<div class="ud-app-loader ud-component--footer--eu-cookie-message ud-app-loaded" data-module-id="eu-cookie-message" data-module-priority="-20" ng-non-bindable=""><div></div></div>
</div>
<footer>
<hr>
<div class="container-flex footer__bottom footer__bottom--ia">
<div class="row"style="margin-top:7px;padding-top: 10px">
<div class="col-sm-3 col-xs-6 fx-lc footer__bottom__copyright">
<span class="footer__copyright dib mr20 text-midnight-lighter"style="margin-top:40px;">
<a class="dib mr20" href="/">
<img alt="Udemy" class="ufb-logo" src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" width="100" height="32">
</a>
Copyright © 2019 Udemy, Inc
</span>
<div class="visible-xxs-block visible-xs-inline-block mb10"></div>
</div>

<div class="col-sm-5  col-xs-12 fx-c text-right footer__bottom__links">
<span>

<ul class="links list-inline">
<li>
<a data-purpose="footer.links.terms" href="/">
Terms
</a>

<a data-purpose="privacy-link" href="/">
Privacy Policy and Cookie Policy
</a>

<a class=" " data-purpose="footer.links.topics" href="/">
Topics
</a>

<a href="/">
Local Homepages
</a>

<a data-purpose="mobile-app-download-link" href="/" rel="noopener noreferrer" target="_blank">
Get The App</a>
</ul>
</span>

</div>

<div class="col-sm-3 col-xs-6 fx-rc footer__bottom__locale-selector">
</div>
</div>
</div>
<hr class="hr-primary">
<div class="ud-component--footer--incentive-signup" ng-non-bindable=""></div>
<div class="ud-component--footer--share-welcome-popup" ng-non-bindable=""></div>
  <hr style="border: 4px solid #ec5252;"class="clear-fix" />

</footer>
</div>

    <!-- END FOOTER-->