<div class="container">
  <div class="row">

    <div class="mainContent">
      <div class="col-lg-11">
      <app-searchbar></app-searchbar>
      </div>
      <div class="aaa col-lg-12">
          <app-conversation></app-conversation>
      </div>

    </div>
  </div>

  </div>
  <br>

  <div class="mainContent">
    <div  class="userListWrapper  col-lg-6" >
      <app-user-list></app-user-list>
    </div>
    <div class="feedWrapper col-lg-12">
      <app-feed></app-feed>
    </div>
  </div>

