<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="card h-100">
<div class="row">
    <div class="col-lg-6">
      <img class="img-setting" src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_video_illustration.png">
    </div>


    <div class="col-lg-6">
    <div class="heading-section">
    <h5 class="headingCourse">Get Started with Video</h5>
      <p>Quality video lectures can set your course apart. Use our resources to learn the basics.</p>

        <a id="get-started" href="/">Get Started</a><br><br>
      </div>
   </div>
   </div>            </div>
        </div>
        <div class="col col-md-6">
            <div class="card">
<div class="row">
    <div class="col-lg-6">
      <img class="img-setting" src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_publish_illustration.png">
    </div>


    <div class="col-lg-6">
    <div class="heading-section">
    <h5 class="headingCourse">Create an Engaging Course</h5>
      <p>Set your course up for success by building your audience.</p>

        <a id="get-started" href="/">Get Started</a><br>
        <br>
      </div>
   </div>
   </div>
  </div>

  </div>
</div>
</div>
<br><br><br>
