
  <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" style="border: solid 1px gray ;" data-toggle="dropdown">
      Newest
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Newest</a>
      <a class="dropdown-item" href="#">Oldest</a>
      <a class="dropdown-item" href="#">A-Z</a>
      <a class="dropdown-item" href="#">Z-A</a>
      <a class="dropdown-item" href="#">Published first</a>
      <a class="dropdown-item" href="#">Unpublished first</a>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  