  <div class="container">
  <div class="card">
  <br>
  <div class="row">
    <div class="col-lg-5">
      <img class="img-section3" src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_challenge_illustration.png">
    </div> 
    
    
    <div class="col-lg-7">
    <div class="heading-section2">
    <h3 class="headingCourse2">Join the Newcomer Challenge!</h3>
      <p>Get exclusive tips and resources designed to help you launch your first course faster! Eligible instructors who publish their first course on time will receive a special bonus to celebrate. Start today!</p>

        <a id="get-started" href="/">Get Started</a><br><br>
      </div>
   </div>
   </div>
  </div>
</div>
<br><br><br>
<div class="container">
    <h3 class="heading">Have questions? Here are our most popular instructor resources.</h3>
</div>



