  <div class="container">
  <div class="card">
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img class="img-setting" src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_course_illustration.png">
    </div> 
    
    
    <div class="col-lg-6">
      <div class="heading-section">
      <h3 class="headingCourse">Build Your Audience</h3>
      <p>Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've compiled resources and best practices to help you get to the next level, no matter where you're starting.</p>

        <a id="get-started" href="/">Get Started</a>
      </div>
   </div>


   </div>
  </div>
</div>
<br><br>