
<app-side-nav></app-side-nav>
<br><br><br><br>
<section class="card">
<div class="container">
<h1>Profile & settings</h1>
  <app-navbar></app-navbar>
<br><br>
</div>
<div align="center" class="container mydiv">
  <form>
    <div class="form-group">
      <label>First name</label>&nbsp;&nbsp;
      <input type="text" formControlName="fname" class="form-control">
    </div>

    <div class="form-group">
      <label>Last Name</label>&nbsp;&nbsp;
      <input type="text" formControlName="lname" class="form-control">
    </div>

    <div class="form-group">
      <label>Headline</label>&nbsp;&nbsp;
      <input type="text"  formControlName="hline" class="form-control">

    </div>

    <div class="form-group">
      <label>Biography</label>&nbsp;&nbsp;

      <input type="text"  formControlName="bio" class="form-control">


    </div>
    <div class="form-group">
        <label>Language</label>&nbsp;&nbsp;
        <input type="text"  formControlName="language" class="form-control">

      </div>


      <div class="form-group">
          <label>Website</label>&nbsp;&nbsp;
          <input type="text"  formControlName="website" class="form-control">

        </div>
        <label for="basic-url">Twitter</label>&nbsp;&nbsp;
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">Facebook</label>&nbsp;&nbsp;
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://facebook.com/</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <label for="basic-url">LinkedIn</label>&nbsp;&nbsp;
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://linkedin.com/</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <label for="basic-url">Youtube</label>&nbsp;&nbsp;
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://youtube.com/</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <button type="button" class="btn btn-primary">Save</button>

  </form>
</div>
</section>
<app-page-footer></app-page-footer>

<router-outlet></router-outlet>
