
  <!-- navbar-static-top-->
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          <app-side-nav></app-side-nav>
        </div>
        <div class="col-lg-2">
          <app-all-users></app-all-users>
        </div>

      </div>
    </div>

    <div class="container">
      <h1>Courses</h1>
      <br><br><br><br>
      <div class="row">
        <div class="col-xs-6">
          <app-search-bar></app-search-bar>
        </div>

        <div class="col-xs-3">
          <app-dropdown></app-dropdown>
        </div>

      </div>


      <div class="row-xs-3">
        <div class="col-xs-3">
          <app-newcourses></app-newcourses>
        </div>
      </div>
    </div>
    <br><br>
    <br><br>


    <app-current-courses></app-current-courses>
    <br><br><br>

    <app-first-main-heading></app-first-main-heading>


    <app-create-course></app-create-course>


    <app-tutorial-section></app-tutorial-section>


    <app-newcomer-challenge></app-newcomer-challenge>

    <app-page-footer></app-page-footer>
    <!-- <router-outlet></router-outlet> -->
